# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.DS_Store
Shelved_packaging_assignment_for_Mobiquity.patch
dependency-reduced-pom.xml
target/
